.experience {
  padding: 80px 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
  background-color: $gray-200;
  z-index: 1;
  .container {
    align-items: center;
    align-items: top;
    flex-direction: column;
  }

  &__subheader {
    color: #727272;
    font-weight: normal;
    font-size: 14px;
  }

  &__wrapper {
    width: 100%;
    min-width: 250px;
    max-width: 692px;
    display: flex;
  }
  &__item{
    width: 50%;
    padding: 8px 16px;
    position: relative;
    &::after{
      background-color: rgba($dark, 0.2);
      position: absolute;
      width: 1px;
      content: ' ';
      top: 24px;
      bottom: 16px;
    }
    &::before{
      background-color: $secondary;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 16px;
      content: ' ';
    }
  }

  &__item:nth-child(even){
    align-self: flex-end;
    &::after{
      left: -1px;
    }
    &::before{
      left: -4px;
      z-index: 2;
    }
    .experience__subheader {
      align-items: center;
    }
  } 

  &__item:nth-child(odd){
    align-self: flex-start;
    text-align: right;

    &::after{
      right: 0;
    }
    &::before{
      right: -4px;
      z-index: 2;
    }
  } 

  h3 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 32px;
    position: relative;
    text-align: center;
  }

  &__company{
    font-weight: 500;
  }

  &__title{
    font-weight: 400;
    text-transform: capitalize;
  }

  &__description {
    line-height: 1.2;
    max-width: 460px;
    color: $dark;
  }

  &__header {
    font-size: 1.4em;
    margin-bottom: 0;
    font-weight: 500;
    small {
      font-size: 14px;
      line-height: 1.2;
      color: $dark;
    }
  }
}
