
.progress {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  
  &--bar {
    height: $bar-heigth;
    background-color: $gray-400;
    border-radius: 1px;
    display: flex;
    position: relative;
  }
  
  &__item {
    background-color: $bar-bg;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  &__name {
    background-color: $bar-bg;
    height: $bar-heigth;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    z-index: 2;
    color: $gray-300;
  }

  &__percent {
    padding: 0 16px;
    font-weight: 400;
    font-size: 14px;
    color: $gray-100;
    position: absolute;
    right: 0;
  }
  
  &__description {
    position: absolute;
    width: 100%;
    color: lighten($bar-bg, 60%);
    height: $bar-heigth;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
