//$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-sans-serif: 'Lato', sans-serif;

$display1-size: 10rem;
$border-radius:  1.3rem !default;
$enable-responsive-font-sizes: true;

$primary: #064973;
$secondary: #071A26;
$success: #0A7ABF;
$info: #04738C;
$dark: #0D0D0D;
$gray-100: #f8f9fa !default;

$bg-gradient: $secondary;
$body-bg: $dark;
$body-color: rgb(116,116,116);
$headings-color:  $gray-100;
