//$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-sans-serif: 'Lato', sans-serif;

$display1-size: 10rem;
$border-radius:  1.3rem !default;
$enable-responsive-font-sizes: true;

$primary: #2477BF;
$secondary: #028A9E;
$success: #312559;
$info: #023550;
$dark-100: #111426;
$dark: #04070D;
$gray-100: #f8f9fa !default;

$bg-gradient: $dark-100;
$body-bg: $dark;
$body-color: rgb(116,116,116);
$headings-color:  $gray-100;
