//$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-sans-serif: 'Lato', sans-serif;

$display1-size: 10rem;
$border-radius:  1.3rem !default;
$enable-responsive-font-sizes: true;

$primary: #2477BF;
$secondary: #312559;
$dark: #04070D;
$gray-100: #f8f9fa !default;

$bg-gradient: #111426;
$body-bg: $dark;
$body-color: $primary;
$headings-color:  $gray-100;

$bar-heigth: 40px;
$bar-bg: $secondary;